@import "variable.css";
html, body, *{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 10px
}


body{
  background-color: var(--primary);
}

h1{
  font-size: var(--h1);
  text-align: center;
}

h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h2)}
