:root{
    --light-blue:#2998ff;
    --dark-blue:#135cc5;
    --light-red: #f87171;
    --dark-red: #dc2626;
    --red-orange: #f63b17;
    --primary: var(--dark-blue);
  
    --h1: 7.594rem;
    --h2: 5.653rem;
    --h3: 3.998rem
  
  }
  
  .warm{
    --primary: var(--red-orange);
  }
  
  .cool{
    --primary: var(--light-blue);
  }
  